<link rel="stylesheet" href="css/home.css" />
<div class="container">
  <div class="element">
    <a href="#">
      <img src="images/drugs.png" alt="medicine" />
      <h2>Add medicine Details</h2>
    </a>
  </div>
  <div class="element">
    <a href="#">
      <img src="images/health.png" alt="medicine" />
      <h2>Health Tracker</h2>
    </a>
  </div>
  <div class="element">
    <a href="#">
      <img src="images/phone-book.png" alt="medicine" />
      <h2>Emergency Contacts</h2>
    </a>
  </div>
</div>
