<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- title of the page -->
    <title><%= title%></title>
    <link
      rel="shortcut icon"
      href="https://www.flaticon.com/free-icon/healthcare_2449846?term=health&related_id=2449846"
      type="image/x-icon"
    />
  </head>
  <body>
    <!-- Navbar -->
    <%- include('_header') %>
    <!-- body -->
    <%- body %>
  </body>
</html>
