<link rel="stylesheet" href="/css/medicine-reminder.css" />
<div class="medicine-box">
  <div class="box">
    <div class="header">
      <h1>Add Medicine Reminder</h1>
    </div>

    <form action="/medicine-reminder/addMedication" method="post">
      <div class="input-box">
        <label for="medicineName">Medicine Name:</label>
        <div class="input">
          <input type="text" id="medicineName" name="name" required />
        </div>
        <label for="dosage">Dosage:</label>
        <div class="input">
          <input type="text" id="dosage" name="dosage" required />
        </div>
        <label for="email">Email Address:</label>
        <div class="input">
          <input type="email" id="email" name="email" required />
        </div>
        <label for="schedule">Schedule:</label>
        <div class="input">
          <input type="time" id="schedule" name="schedule" required />
        </div>

        <button class="upload-btn">Add Medicine</button>
      </div>
    </form>
  </div>

  <div class="list-container">
    <% medicationData.forEach( data => { %>
    <div class="list">
      <button>
        <a href="/medicine-reminder/delete/<%= data._id %>">
          <i class="fa-solid fa-delete-left"></i>
        </a>
      </button>

      <ul>
        <li>Name: <%= data.name %></li>
        <li>Dosage: <%= data.dosage %></li>
        <li>Time: <%= data.schedule %></li>
      </ul>
    </div>
    <% }); %>
  </div>
</div>
