/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container {
  display: flex;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.header {
  text-align: left;
  margin: 20px;
}

h1 {
  color: #333;
}

/* Form styles */
.input-box {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.input-box label {
  font-weight: bold;
}

.input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
}

.input input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
}

.upload-btn {
  margin-top: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-btn:hover {
  background-color: #2980b9;
}

/* Contact list styles */
.file-list {
  width: 24rem;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

thead {
  background-color: #f2f2f2;
  font-weight: bold;
}

.file-list .delete-btn {
  background-color: red;
  font-size: 18px;
  border-radius: 4px;
  padding: 2px;
}
.file-list a {
  text-decoration: none;
  color: white;
}

/* .delete-btn:hover {
  text-decoration: underline;
} */
