.container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem;
}
.element {
  width: 20rem; /* Set the desired width for the div */
  height: 20rem; /* Set the desired height for the div */
  /* border: 2px dotted rgb(194, 130, 130); */
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;

  overflow: hidden;
}

.element img {
  width: 80%; /* Set the width of the image to 100% of its container */
  height: auto;
  object-fit: contain;
  margin-bottom: 20px;
  position: relative;
  left: 29px;
  margin-top: 5px;
}
.element a {
  text-decoration: none;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}
